* {
  font-family: "PT Sans Narrow";
  font-size: 18px;
  padding: 0;
  margin: 0;
}

html, body {
  overflow-x: hidden;
}

body {
  position: relative;
  min-width: 320px;
}

.container {
  padding: 0 20px;
}
@media (min-width: 640px) {
  .container {
    padding: 0 64px;
  }
}

.title {
  text-align: center;
  color: #000;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.header {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}

.header__logo {
  text-align: center;
  padding: 29px 0 26px 0;
  order: 0;
}
@media (min-width: 640px) {
  .header__logo {
    order: 1;
    height: 400px;
    padding-top: 39px;
  }
}

.logotype {
  background-color: rgb(36, 36, 36);
}
@media (min-width: 640px) {
  .logotype {
    background-color: #000000;
    background-image: url("../img/back-tablet (1).jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.header__navigation {
  display: flex;
  flex-direction: column;
  order: 1;
}
@media (min-width: 640px) {
  .header__navigation {
    order: 0;
  }
}

.nav {
  background-color: #826550;
}
@media (min-width: 640px) {
  .nav {
    background-color: #000;
  }
}

.nav__list {
  display: flex;
  list-style: none;
}
@media (min-width: 640px) {
  .nav__list {
    gap: 34px;
    padding: 24px 0 24px 0;
    justify-content: center;
  }
}

.nav__item a {
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
}
@media (min-width: 640px) {
  .nav__item a {
    font-weight: 700;
  }
}

@media (max-width: 640px) {
  .nav__item:last-child {
    display: none;
  }
}

.btn-burger {
  width: 70px;
  height: auto;
  background-color: #6A4D38;
}
@media (min-width: 640px) {
  .btn-burger {
    display: none;
  }
}

.stats {
  background: #353535;
}

@media (min-width: 640px) {
  .stats__container {
    padding: 0 64px;
    position: relative;
    top: -172px;
    margin-bottom: -172px;
  }
}

.stats__header {
  padding: 28px 0;
  background-color: #FFF;
}
@media (min-width: 640px) {
  .stats__header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 32px 34px 30px 34px;
  }
}

.stats__title {
  margin-bottom: 13px;
}
@media (min-width: 640px) {
  .stats__title {
    text-align: left;
    font-size: 40px;
    margin-bottom: 24px;
    text-transform: none;
  }
}

.stats__header-text {
  text-align: center;
  font-family: "PT Sans Narrow";
  font-size: 20px;
  line-height: 27px;
}

.stats__list {
  color: rgb(255, 255, 255);
}
@media (min-width: 640px) {
  .stats__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
  }
}

.stats__item {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #4E4E4E;
}
@media (min-width: 640px) {
  .stats__item {
    display: block;
    padding: 25px 34px 30px 34px;
  }
}

.stats__item:nth-child(1) {
  background-color: #353535;
}
@media (min-width: 640px) {
  .stats__item:nth-child(1) {
    background: rgba(255, 255, 255, 0.05);
  }
}

.stats__item:nth-child(3) {
  background-color: #353535;
}

@media (min-width: 640px) {
  .stats__item:nth-child(4) {
    background: rgba(255, 255, 255, 0.05);
  }
}

.stats__callout {
  display: block;
  margin: 0;
  font-size: 20px;
  font-weight: 400;
}

.stats__callout--top {
  display: none;
}
@media (min-width: 640px) {
  .stats__callout--top {
    color: rgba(0, 0, 0, 0.3);
    display: block;
  }
}

.stats__callout--bottom {
  color: rgba(255, 255, 255, 0.3);
  text-align: center;
  padding: 20px;
  background: #242424;
}
@media (min-width: 640px) {
  .stats__callout--bottom {
    display: none;
  }
}

.stats__num {
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
}
@media (min-width: 640px) {
  .stats__num {
    font-size: 72px;
    line-height: 72px;
    margin-bottom: 12px;
  }
}

.stats__text {
  text-align: right;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}
@media (min-width: 640px) {
  .stats__text {
    display: block;
    text-align: left;
  }
  .stats__text br {
    display: none;
  }
}

.reasons {
  margin-top: -1px;
  background-color: #242424;
  color: #FFF;
}
@media (min-width: 640px) {
  .reasons {
    background: #353535;
    position: relative;
  }
}

.reasons__list {
  list-style-type: none;
}

.reasons__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 640px) {
  .reasons__item {
    padding: 42px 36px 37px 36px;
    flex-direction: row;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
}

.reason__img {
  margin-bottom: 31px;
}
@media (min-width: 640px) {
  .reason__img {
    margin: 0;
    margin-right: 34px;
  }
}

.reason__title {
  color: #FFF;
  margin-bottom: 12px;
}
@media (min-width: 640px) {
  .reason__title {
    text-align: left;
  }
}

.reason__text {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 30px;
}
@media (min-width: 640px) {
  .reason__text {
    text-align: left;
  }
}

.triangle {
  margin-bottom: 34px;
}
@media (min-width: 640px) {
  .triangle {
    margin-bottom: 51px;
  }
}

.page-main__news {
  margin-bottom: 27px;
}
@media (min-width: 640px) {
  .page-main__news {
    position: relative;
    border-bottom: 1px solid #E5DDD5;
    margin-bottom: 47px;
  }
}

.news__title {
  margin-bottom: 27px;
}
@media (min-width: 640px) {
  .news__title {
    font-size: 40px;
    text-align: left;
  }
}

.news__list {
  list-style-type: none;
  margin-bottom: 51px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 640px) {
  .news__list {
    flex-direction: row;
    flex-wrap: wrap;
    -moz-column-gap: 45px;
         column-gap: 45px;
    justify-content: center;
  }
}

.news__item {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #E5DDD5;
  padding-bottom: 18px;
}
@media (min-width: 640px) {
  .news__item {
    border: none;
  }
}

.news__item-container {
  display: grid;
  grid-template-columns: 50px 210px;
  gap: 20px;
  padding-top: 16px;
}
.news__item:last-child {
  border: none;
  padding-bottom: 0;
}

.news__date {
  margin-top: 11px;
}

.date-news {
  color: #FFF;
  width: 50px;
  height: 60px;
  background-image: url("../img/substrate.svg");
  text-align: center;
}

.date-news__num {
  display: block;
  font-size: 30px;
  font-weight: 700;
  line-height: 20px;
  padding-top: 10px;
}

.date-news__month {
  display: block;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.news__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

.news__btn {
  display: block;
  margin: 0 auto;
  width: 280px;
  height: 50px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 28px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #E5DDD5;
}
@media (min-width: 640px) {
  .news__btn {
    width: 160px;
    position: absolute;
    right: 64px;
    top: 0px;
  }
}

.news__line {
  border-bottom: 1px solid #E5DDD5;
}
@media (min-width: 640px) {
  .news__line {
    border: none;
  }
}

.reviews {
  position: relative;
}

.reviews__title {
  margin-bottom: 28px;
}
@media (min-width: 640px) {
  .reviews__title {
    margin-bottom: 48px;
    text-align: left;
    font-size: 40px;
  }
}

.reviews__btn {
  display: none;
}
@media (min-width: 640px) {
  .reviews__btn {
    display: block;
    margin: 0 auto;
    width: 160px;
    height: 50px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 28px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #E5DDD5;
    position: absolute;
    right: 64px;
    top: 0px;
  }
}

.reviews__list-container {
  display: flex;
  justify-content: center;
}

.reviews__list-btn {
  display: none;
}
@media (min-width: 640px) {
  .reviews__list-btn {
    display: block;
    min-width: 50px;
    height: 160px;
    border: 1px solid #E5DDD5;
    background-color: #FFF;
  }
}

.reviews__list {
  list-style-type: none;
  display: block;
  height: 160px;
}

.reviews__item {
  display: flex;
  justify-content: center;
}
@media (min-width: 640px) {
  .reviews__item {
    width: 542px;
    height: 158px;
    border: 1px solid #E5DDD5;
  }
}

.reviews__item-container {
  display: grid;
  grid-template-columns: 50px 210px;
  gap: 20px;
}
@media (min-width: 640px) {
  .reviews__item-container {
    display: flex;
    padding: 31px 30px 36px 30px;
  }
}

.reviews__icon {
  margin-top: 11px;
}

.reviews__name {
  font-size: 24px;
  font-weight: 700;
  line-height: 27px;
  margin-bottom: 9px;
}

.reviews__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

.slider-points {
  margin-bottom: 18px;
}
@media (min-width: 640px) {
  .slider-points {
    margin-bottom: 66px;
  }
}

.page-footer {
  padding-top: 33px;
  background-color: #292929;
  color: #FFF;
  display: flex;
  flex-direction: column;
}

@media (min-width: 640px) {
  .page-footer__container {
    padding: 0 64px;
    display: grid;
    row-gap: 50px;
  }
}

@media (min-width: 640px) {
  .page-footer__address-container {
    display: flex;
    flex-direction: column;
  }
}

.page-footer__title-container {
  display: block;
  width: 195px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 17px;
}
@media (min-width: 640px) {
  .page-footer__title-container {
    margin: 0;
    width: auto;
    text-align: left;
  }
}

.page-footer__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
}

.page-footer__address {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

.page-footer__tel {
  display: block;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 26px;
  text-align: center;
  border: 1px solid #4A4A4A;
  background-color: #292929;
  color: #FFF;
  font-weight: 700;
  line-height: 27px;
  padding: 12px 0;
  cursor: pointer;
}
@media (min-width: 640px) {
  .page-footer__tel {
    order: 1;
    margin: 0;
    padding: 0;
    width: auto;
    border: none;
    text-align: left;
    font-weight: 400;
  }
}

.networks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  list-style-type: none;
  margin-bottom: 31px;
  order: 2;
}
@media (min-width: 640px) {
  .networks {
    order: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.networks__item {
  display: block;
  height: 101px;
  border: 1px solid #4A4A4A;
}

.networks__item-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.networks__item a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-footer__button {
  display: block;
  width: 280px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #4A4A4A;
  background-color: #292929;
  color: #FFF;
  font-weight: 700;
  line-height: 27px;
  padding: 12px 0;
  cursor: pointer;
}
@media (min-width: 640px) {
  .page-footer__button {
    margin: 0;
  }
}

.page-footer__button a {
  text-decoration: none;
  color: #FFF;
}

.page-footer__link {
  color: #FFF;
  text-decoration: none;
}

.page-footer__developer {
  padding-bottom: 24px;
  order: 3;
}
@media (min-width: 640px) {
  .page-footer__developer {
    order: 2;
    display: flex;
    justify-content: end;
    padding: 0;
  }
}

.developer__title {
  text-align: center;
  margin-bottom: 13px;
}/*# sourceMappingURL=style.css.map */